<section class="about">
  <div class="about__inner">
    <div class="about__content">
      <h2 class="about__title">О компании</h2>
      <div class="about__descr">
        <p>
          Группа компаний Климат Строй работаем с 2008 года. Мы занимаемся
          проектированием, монтажом и обслуживанием систем кондиционированияи
          вентиляции, а также систем отопления и горячего водоснабжения.
        </p>
        <p>
          На сегодняшний день мы являемся одним из лидеров рынка
          ОВиВК(отопление, вентиляция и кондиционирование воздуха) в Москве,
          имеембольшое количество компаний-партнеров и клиентов в
          различныхсферах бизнеса.
        </p>
        <p>
          Мы обладаем современным оборудованием и профессиональной
          командойинженеров и монтажников, которые гарантируют высокое качество
          работыв кратчайшие сроки.
        </p>
        <p>
          А также активно участвуем в реализации крупных инженерных
          проектов,применяем инновационные решения и технологии для
          повышенияэффективности систем кондиционирования и экономии
          энергоресурсов.
        </p>
      </div>
    </div>
    <div class="about__decor"></div>
  </div>
</section>
