<section class="advantages">
  <h2 class="container advantages__title">Наши преимущества</h2>
  <div class="container advantages__items">
    <button class="advantages__prev" aria-label="Назад"></button>
    <button class="advantages__next" aria-label="Вперед"></button>
    <div class="swiper advantages__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="advantages__item">
            <div
              class="advantages__decor"
              style="background-image: url('img/services-icon-1.svg')"
            ></div>
            <h3 class="advantages__item-title">Комплексный подход</h3>
            <p class="advantages__descr">
              Компания, которая занимается монтажом инженерных систем зданий,
              применяет комплексный подход к работе. Это означает, что она
              проектирует, монтирует и настраивает все инженерные системы
              зданий, включая отопление, вентиляцию, кондиционирование,
              электрические и сантехнические системы. Это позволяет
              предоставлять заказчику полный спектр услуг по монтажу инженерных
              систем зданий.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantages__item">
            <div
              class="advantages__decor"
              style="background-image: url('img/services-icon-2.svg')"
            ></div>
            <h3 class="advantages__item-title">Минимизация рисков</h3>
            <p class="advantages__descr">
              Компания, которая занимается монтажом инженерных систем зданий,
              может помочь клиенту минимизировать возможные риски при монтаже
              инженерных систем зданий. Благодаря высокому профессионализму,
              компания может предупредить o возможных проблемах и разработать
              меры по их предотвращению.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantages__item">
            <div
              class="advantages__decor"
              style="background-image: url('img/services-icon-3.svg')"
            ></div>
            <h3 class="advantages__item-title">Экономия времени и ресурсов</h3>
            <p class="advantages__descr">
              Профессиональный монтаж инженерных систем позволяет экономить
              время и ресурсы за счет повышения эффективности работы систем и
              предотвращения их неполадок и неисправностей.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantages__item">
            <div
              class="advantages__decor"
              style="background-image: url('img/services-icon-3.svg')"
            ></div>
            <h3 class="advantages__item-title">Опыт и профессионализм</h3>
            <p class="advantages__descr">
              Компания, которая работает на рынке монтажа инженерных систем
              зданий, обладает опытом и профессионализмом в этой области.
              Благодаря этому, она может решать самые сложные и нетипичные
              задачи, связанные с монтажом инженерных систем в зданиях.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantages__item">
            <div
              class="advantages__decor"
              style="background-image: url('img/services-icon-1.svg')"
            ></div>
            <h3 class="advantages__item-title">Опыт и профессионализм</h3>
            <p class="advantages__descr">
              Компания, которая работает на рынке монтажа инженерных систем
              зданий, обладает опытом и профессионализмом в этой области.
              Благодаря этому, она может решать самые сложные и нетипичные
              задачи, связанные с монтажом инженерных систем в зданиях.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantages__item">
            <div
              class="advantages__decor"
              style="background-image: url('img/services-icon-2.svg')"
            ></div>
            <h3 class="advantages__item-title">Опыт и профессионализм</h3>
            <p class="advantages__descr">
              Компания, которая работает на рынке монтажа инженерных систем
              зданий, обладает опытом и профессионализмом в этой области.
              Благодаря этому, она может решать самые сложные и нетипичные
              задачи, связанные с монтажом инженерных систем в зданиях.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantages__item">
            <div
              class="advantages__decor"
              style="background-image: url('img/services-icon-3.svg')"
            ></div>
            <h3 class="advantages__item-title">Опыт и профессионализм</h3>
            <p class="advantages__descr">
              Компания, которая работает на рынке монтажа инженерных систем
              зданий, обладает опытом и профессионализмом в этой области.
              Благодаря этому, она может решать самые сложные и нетипичные
              задачи, связанные с монтажом инженерных систем в зданиях.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container advantages__pagination"></div>
</section>
