<section class="answers">
  <div class="container">
    <h2 class="answers__title">ОТВЕТЫ НА ЧАСТЫЕ ВОПРОСЫ</h2>
    <ul class="answers__accardion">
      <li class="answers__accardion-elem">
        <button class="answers__accardion-btn">
          <h3 class="answers__accardion-title">
            Какие услуги предоставляет ваша компания в области инженерии?
          </h3>
        </button>
        <div class="answers__accardion-drop">
          <div class="answers__accardion-body">
            <p>
              Мы предоставляем комплексные услуги в области проектирования,
              строительства и реконструкции инженерных систем (отопление,
              вентиляция, кондиционирование, электричество и т.д.), а также в
              области инженерного оборудования (генераторы, насосы и т.д.).
            </p>
            <p>
              Мы предоставляем комплексные услуги в области проектирования,
              строительства и реконструкции инженерных систем (отопление,
              вентиляция, кондиционирование, электричество и т.д.), а также в
              области инженерного оборудования (генераторы, насосы и т.д.).
            </p>
            <h4>Возмжный заголовок</h4>
            <p>
              Мы предоставляем комплексные услуги в области проектирования,
              строительства и реконструкции инженерных систем (отопление,
              вентиляция, кондиционирование, электричество и т.д.), а также в
              области инженерного оборудования (генераторы, насосы и т.д.).
            </p>
            <p>
              Мы предоставляем комплексные услуги в области проектирования,
              строительства и реконструкции инженерных систем (отопление,
              вентиляция, кондиционирование, электричество и т.д.), а также в
              области инженерного оборудования (генераторы, насосы и т.д.).
            </p>
          </div>
        </div>
      </li>
      <li class="answers__accardion-elem">
        <button class="answers__accardion-btn">
          <h3 class="answers__accardion-title">
            Какова средняя стоимость услуг вашей компании?
          </h3>
        </button>
        <div class="answers__accardion-drop">
          <div class="answers__accardion-body">
            <p>
              Стоимость услуг зависит от объёма и сложности работ, а также от
              выбора материалов и оборудования. Мы готовы рассмотреть каждый
              проект индивидуально и предложить наиболее выгодное решение по
              цене и качеству.
            </p>
          </div>
        </div>
      </li>
      <li class="answers__accardion-elem">
        <button class="answers__accardion-btn">
          <h3 class="answers__accardion-title">
            Какая квалификация у ваших специалистов?
          </h3>
        </button>
        <div class="answers__accardion-drop">
          <div class="answers__accardion-body">
            <p>
              В нашей компании работают только квалифицированные и опытные
              специалисты, которые регулярно повышают свою квалификацию и следят
              за последними тенденциями в области инженерии.
            </p>
          </div>
        </div>
      </li>
      <li class="answers__accardion-elem">
        <button class="answers__accardion-btn">
          <h3 class="answers__accardion-title">
            Есть ли у вашей компании референции и отзывы от клиентов?
          </h3>
        </button>
        <div class="answers__accardion-drop">
          <div class="answers__accardion-body">
            <p>
              Мы гордимся своей работой и всегда готовы предоставить референции
              и отзывы от наших довольных клиентов. Вы можете ознакомиться с
              примерами наших проектов на сайте компании.
            </p>
          </div>
        </div>
      </li>
      <li class="answers__accardion-elem">
        <button class="answers__accardion-btn">
          <h3 class="answers__accardion-title">
            Каковы сроки выполнения заказа?
          </h3>
        </button>
        <div class="answers__accardion-drop">
          <div class="answers__accardion-body">
            <p>
              Сроки выполнения заказа зависят от объёма и сложности работ, а
              также от доступности материалов и оборудования. Мы всегда
              стараемся выполнить заказ в кратчайшие сроки без потери качества.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
