<section class="documents">
  <div class="container">
    <h2 class="documents__title">Наши документы</h2>
    <div class="swiper documents__slider">
      <div class="swiper-wrapper">
        
        <div class="swiper-slide documents__item">
          <figure href="img/document-fake.svg" data-fancybox="document-gallary">
            <figcaption class="documents__item-caption">Удостоверние</figcaption>
            <img src="/img/document-fake.svg" loading="lazy"/>
            <div class="swiper-lazy-preloader"></div>
          </figure>
        </div>
        <div class="swiper-slide documents__item">
          <figure href="img/document-fake.svg" data-fancybox="document-gallary">
            <figcaption class="documents__item-caption">Фейковая подпись</figcaption>
            <img src="/img/document-fake.svg" loading="lazy"/>
            <div class="swiper-lazy-preloader"></div>
          </figure>
        </div>
        <div class="swiper-slide documents__item">
          <figure href="img/document-fake.svg" data-fancybox="document-gallary">
            <figcaption class="documents__item-caption">Фейковая подпись</figcaption>
            <img src="/img/document-fake.svg" loading="lazy"/>
            <div class="swiper-lazy-preloader"></div>
          </figure>
        </div>
        <div class="swiper-slide documents__item">
          <figure  data-src="img/document-1.jpg" data-fancybox="document-gallary">
            <figcaption class="documents__item-caption">Диплом</figcaption>
            <img src="/img/document-1.jpg" loading="lazy"/>
            <div class="swiper-lazy-preloader"></div>
          </figure>
        </div>
        <div class="swiper-slide documents__item">
          <figure href="img/document-2.png" data-fancybox="document-gallary">
            <figcaption class="documents__item-caption">Выписка</figcaption>
            <img src="/img/document-2.png" loading="lazy"/>
            <div class="swiper-lazy-preloader"></div>
          </figure>
        </div>
        <div class="swiper-slide documents__item">
          <figure href="img/document-fake.svg" data-fancybox="document-gallary">
            <figcaption class="documents__item-caption">Шаблон договора</figcaption>
            <img src="/img/document-fake.svg" loading="lazy"/>
            <div class="swiper-lazy-preloader"></div>
          </figure>
        </div>
      </div>
      <button class="documents__prev"></button>
      <button class="documents__next"></button>
    </div>
    <div class="documents__pagination"></div>
  </div>
</section>
