<section class="documents">
  <div class="container">
    <h2 class="documents__title">Наши документы</h2>
    <div class="swiper documents__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="img/document-1.jpg" data-fancybox>
            <img src="/img/document-1.jpg" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="img/document-2.png" data-fancybox>
            <img src="/img/document-2.png" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="img/document-fake.svg" data-fancybox>
            <img src="/img/document-fake.svg" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="img/document-fake.svg" data-fancybox>
            <img src="/img/document-fake.svg" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="img/document-fake.svg" data-fancybox>
            <img src="/img/document-fake.svg" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="img/document-fake.svg" data-fancybox>
            <img src="/img/document-fake.svg" />
          </a>
        </div>
      </div>
      <button class="documents__prev"></button>
      <button class="documents__next"></button>
    </div>
    <div class="documents__pagination"></div>
  </div>
</section>
