<div class="modal" id="ventilation">
    <div class="modal__inner">
        <div class="modal__body">
            Калькулятор вентиляция
        </div>
        <button class="modal__btn-close" aria-label="закрыть окно"></button>
    </div>
</div>
<div class="modal" id="heating">
    <div class="modal__inner">
        <div class="modal__body">
            Калькулятор отопления
        </div>
        <button class="modal__btn-close" aria-label="закрыть окно"></button>
    </div>
</div>