<section class="persons">
  <div class="container">
    <h2 class="persons__title">Наша команда</h2>
    <div class="persons__slider swiper">
      <ul class="persons__items swiper-wrapper">
        <li class="persons__elem swiper-slide">
          <img
            class="persons__elem-avatar"
            src="img/persons-avatar-1.png"
            alt="Зингман Максим Владимирович"
            loading="lazy"
          />
          <p class="persons__elem-title">Руководитель<br />группы компаний</p>
          <h3 class="persons__elem-descr">Зингман Максим<br />Владимирович</h3>
        </li>
        <li class="persons__elem swiper-slide">
          <img
            class="persons__elem-avatar"
            src="img/persons-avatar-2.png"
            alt="Зингман Максим Владимирович"
            loading="lazy"
          />
          <p class="persons__elem-title">Менеджер по работе<br />c клиентами</p>
          <h3 class="persons__elem-descr">
            Муравьева Ангелина<br />Михайловна
          </h3>
        </li>
        <li class="persons__elem swiper-slide">
          <img
            class="persons__elem-avatar"
            src="img/persons-avatar-3.png"
            alt="Зингман Максим Владимирович"
            loading="lazy"
          />
          <p class="persons__elem-title">Инженер<br />проектировщик</p>
          <h3 class="persons__elem-descr">Кузьмина Алиса<br />Сергеевна</h3>
        </li>
        <li class="persons__elem swiper-slide">
          <img
            class="persons__elem-avatar"
            src="img/persons-avatar-4.png"
            alt="Зингман Максим Владимирович"
            loading="lazy"
          />
          <p class="persons__elem-title">Начальник<br />участка</p>
          <h3 class="persons__elem-descr">Хажинский Роман<br />Сергеевич</h3>
        </li>
        <li class="persons__elem swiper-slide">
          <img
            class="persons__elem-avatar"
            src="img/persons-avatar-5.png"
            alt="Зингман Максим Владимирович"
            loading="lazy"
          />
          <p class="persons__elem-title">Мастер<br />участка</p>
          <h3 class="persons__elem-descr">Петров Сергей<br />Александрович</h3>
        </li>
      </ul>
      <div class="persons__pagination"></div>
    </div>
  </div>
</section>
<div class="banner">
  <div class="container banner__inner">
    <div class="banner__body">
      <h2 class="banner__title">Получить<br />консультацию<br />инженера</h2>
      <button class="btn-main banner__btn">Задать вопрос</button>
    </div>
  </div>
</div>
