<section class="projects">
  <div class="container">
    <h2 class="projects__title">Наши проекты</h2>
    <div class="project__slider swiper">
      <div class="projects__items swiper-wrapper">
        <figure class="projects__item swiper-slide">
          <figcaption class="projects__item-title">Отопление</figcaption>
          <img src="img/project-1.jpg" alt="projects" loading="lazy" />
          <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="projects__item swiper-slide">
          <figcaption class="projects__item-title">Сантехника</figcaption>
          <img src="img/project-2.jpg" alt="projects" loading="lazy" />
          <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="projects__item swiper-slide">
          <figcaption class="projects__item-title">Вентиляция</figcaption>
          <img src="img/project-3.jpg" alt="projects" loading="lazy" />
          <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="projects__item swiper-slide">
          <figcaption class="projects__item-title">Проектирование</figcaption>
          <img src="img/project-4.jpg" alt="projects" loading="lazy" />
          <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="projects__item swiper-slide">
          <figcaption class="projects__item-title">
            Кондиционирование
          </figcaption>
          <img src="img/project-5.jpg" alt="projects" loading="lazy" />
          <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="projects__item swiper-slide">
          <figcaption class="projects__item-title">Слаботочные сети</figcaption>
          <img src="img/project-6.jpg" alt="projects" loading="lazy" />
          <div class="swiper-lazy-preloader"></div>
        </figure>
      </div>
    </div>
    <div class="projects__pagination"></div>
  </div>
</section>
