<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы</h2>
    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__slide">
          <div class="reviews__slider-body">
            <h3 class="reviews__slider-name">Дарья Астахова</h3>
            <p class="reviews__slider-prof">Теплые полы</p>
            <p class="reviews__slider-descr">
              С днем рождения поздравляюИ желаю день за днемБыть счастливее и
              ярче,Словно солнце за окном.Пожелаю я здоровья,Много смеха и
              тепла,Чтоб родные были рядомИ, конечно же, добра!
            </p>
            <ul class="reviews__slider-stars">
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star"></li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__slider-body">
            <h3 class="reviews__slider-name">Дарья Астахова</h3>
            <p class="reviews__slider-prof">Теплые полы</p>
            <p class="reviews__slider-descr">
              С днем рождения поздравляюИ желаю день за днемБыть счастливее и
              ярче,Словно солнце за окном.Пожелаю я здоровья,Много смеха и
              тепла,Чтоб родные были рядомИ, конечно же, добра!
            </p>
            <ul class="reviews__slider-stars">
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star"></li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__slider-body">
            <h3 class="reviews__slider-name">Дарья Астахова</h3>
            <p class="reviews__slider-prof">Теплые полы</p>
            <p class="reviews__slider-descr">
              С днем рождения поздравляюИ желаю день за днемБыть счастливее и
              ярче,Словно солнце за окном.Пожелаю я здоровья,Много смеха и
              тепла,Чтоб родные были рядомИ, конечно же, добра!
            </p>
            <ul class="reviews__slider-stars">
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star"></li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__slider-body">
            <h3 class="reviews__slider-name">Дарья Астахова</h3>
            <p class="reviews__slider-prof">Теплые полы</p>
            <p class="reviews__slider-descr">
              С днем рождения поздравляюИ желаю день за днемБыть счастливее и
              ярче,Словно солнце за окном.Пожелаю я здоровья,Много смеха и
              тепла,Чтоб родные были рядомИ, конечно же, добра!
            </p>
            <ul class="reviews__slider-stars">
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star"></li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__slider-body">
            <h3 class="reviews__slider-name">Дарья Астахова</h3>
            <p class="reviews__slider-prof">Теплые полы</p>
            <p class="reviews__slider-descr">
              С днем рождения поздравляюИ желаю день за днемБыть счастливее и
              ярче,Словно солнце за окном.Пожелаю я здоровья,Много смеха и
              тепла,Чтоб родные были рядомИ, конечно же, добра!
            </p>
            <ul class="reviews__slider-stars">
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star"></li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__slider-body">
            <h3 class="reviews__slider-name">Дарья Астахова</h3>
            <p class="reviews__slider-prof">Теплые полы</p>
            <p class="reviews__slider-descr">
              С днем рождения поздравляюИ желаю день за днемБыть счастливее и
              ярче,Словно солнце за окном.Пожелаю я здоровья,Много смеха и
              тепла,Чтоб родные были рядомИ, конечно же, добра!
            </p>
            <ul class="reviews__slider-stars">
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star orange"></li>
              <li class="reviews__slider-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="reviews__pagination"></div>
    </div>
  </div>
</section>
