<section class="steps">
    <div class="container">
        <h2 class="steps__title">
            СХЕМА РАБОТЫ 5 ШАГОВ
        </h2>
        <ul class="steps__items">
            <li class="steps__item">
                <div class="steps__elem">Обследование объекта</div>
                <div class="steps__elem">Разработка технического решения</div>
            </li>
            <li class="steps__item">
                <div class="steps__elem">Согласование стоимости с Заказчиком</div>
                <div class="steps__elem">Оформление проекта</div>
            </li>
            <li class="steps__item">
                <div class="steps__elem">Комплектация оборудования и материалов</div>
                <div class="steps__elem">Входной контроль оборудования и материалов</div>
            </li>
            <li class="steps__item">
                <div class="steps__elem">Монтаж оборудования</div>
                <div class="steps__elem">Пусконаладочные работы</div>
            </li>
            <li class="steps__item">
                <div class="steps__elem">Технический надзор</div>
                <div class="steps__elem">Сдача обьекта Заказчику</div>
            </li>
        </ul>
    </div>
</section>