<section class="top">
  <div class="container">
    <div class="top__text">
      <h1 class="top__title">Монтаж вентиляции «Под ключ» любой сложности</h1>
      <p class="top__descr">
        Получите бесплатно расчет в виде 3-х индивидуальных смет для вашего дома
      </p>
    </div>
    <ul class="top__btns">
      <li class="top__btn-first">
        <button class="btn-main">Получить сметы бесплатно</button>
      </li>
      <li class="top__btn-second">
        <button class="btn-secondary">Задать вопрос</button>
      </li>
    </ul>
  </div>
</section>
<div class="top-calc">
  <div class="container">
    <ul class="top-calc__list">
      <li class="top-calc__item">
        <button class="top-calc__btn">Калькулятор монтажа отопления</button>
      </li>
      <li class="top-calc__item">
        <button class="top-calc__btn">Калькулятор монтожа вентиляции</button>
      </li>
    </ul>
  </div>
</div>
