<section class="top">
    <div class="container">
        <h1 class="top__title">
            Монтаж вентиляции<br>«Под ключ»<br>любой сложности
        </h1>
        <p class="top__descr">Получите бесплатно расчет в виде 3-х индивидуальных<br>смет для вашего дома</p>
        <ul class="top__btns">
            <li class="top__btn-first">
                <button class="btn-main">Получить сметы бесплатно</button>
            </li>
            <li class="top__btn-second">
                <button class="btn-secondary">Задать вопрос</button>
            </li>
        </ul>
    </div>
</section>