<section class="video-company">
    <div class="container">
        <h2 class="video-company__title">Видео о компании</h2>
        <div class="video-company__youtube">
            <iframe class="lazyload iframe-allowed" width="560" height="315" data-src="https://www.youtube.com/embed/ZVhy2uZjQ8I?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</section>