.header {
  position: sticky;
  top: 0;
  z-index: 3;
  &__top {
    background-image: linear-gradient(
      90deg,
      #eaf5f9 0%,
      #c0d9ec 37.36%,
      #dfecfa 63.02%,
      #e6f2f8 100%
    );
  }

  &__top-inner {
    display: flex;
  }

  &__burger {
    margin-left: auto;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
    background-image: url(../img/burger-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__drop-nav {
    position: relative;
    display: flex;
    align-items: center;

    & .header__drop-elem {
      position: absolute;
      top: calc(100% - 5px);
      left: -44px;
      display: none;
    }

    &:hover .header__drop-elem {
      display: block;
    }

    & ul {
      padding-left: 0;
      margin: 0;
      list-style: none;
      padding: 4px 22px 17px;
      background-color: #fff;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
    }

    & a {
      padding: 10px 0;
      display: block;
      width: 100%;
      text-decoration: none;
      font-size: 16px;
      line-height: 1.3;
      color: #000000;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 5px;

      }
    }

    & .header__drop-elem > ul > li > ul  {
      display: none;
    }

    .header__drop-elem > ul > li > ul {
      position: relative;

      &::before {
        content: "";
        height: 100%;
        width: 32px;
        position: absolute;
        top: 0;
        left: -32px;
      }
    }

    & .header__drop-elem > ul > li:hover >  ul {
      display: block;
      position: absolute;
      top: 0;
      left: calc(100% + 10px);
    }
  }

  &__menu-left, &__menu-right {
    display: none;
  }

  &__top-nav {
    margin: auto 0 auto 76px;
    display: flex;
    align-items: center;

    & ul {
      padding-left: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
    }

    & li {
      margin: 0 25px;
    }

    & a {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.3;
      color: #000;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  &__social {
    display: flex;
    padding: 14px 0 14px 0;
    margin: 0 0 0 auto;
    list-style: none;
  }

  &__social-link {
    display: block;
    width: 36px;
    height: 36px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.whatsup {
      background-image: url(../img/whatsup-icon.svg);
    }

    &.telegram {
      background-image: url(../img/telegram-icon.svg);
      margin-left: 16px;
    }
  }

  &__bottom {
    background-color: #fff;
  }

  &__bottom-inner {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__logo {
    display: block;
    margin-right: 59px;
  }

  &__calc {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__calc-item {
    margin: 0 20px;
  }

  &__calc-btn {
    font-size: 16px;
    line-height: 1.3;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding: 13px 19px;
    border: 1px solid #7c96bc;
    border-radius: 15px;
    background-color: transparent;
    white-space: nowrap;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-end;
  }

  &__tel {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: #000;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__call {
    margin-top: 5px;
    font-size: 12px;
    line-height: 1.3;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: underline;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__mobile {
    display: none;
  }

  &__menu-mobile {
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
    background-image: url(../img/burger-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
