.persons {
  padding-top: 36px;
  padding-bottom: 117px;
  background-color: #f3f3f3;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0 0 62px;
  }

  &__items {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 15px calc((100% - 880px) / 4);
    flex-wrap: wrap;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    justify-content: center;;
  }

  &__elem {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 176px;
  }

  &__elem-avatar {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-bottom: 22px;
  }

  &__elem-title {
    font-weight: 700;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }

  &__elem-descr {
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }

  &__pagination {
    display: none;
    margin-top: 42px;
    justify-content: center;
  }

  &__pagination.swiper-pagination {
    display: none;
  }

  &__bullet {
    background-color: #ababab;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__bullet + &__bullet {
    margin-left: 14px;
  }

  &__bullet-active {
    background-color: #ea572e;
  }
}

.banner {
  min-height: 482px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/banner-block.webp);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 6.9px ) hue-rotate( 0deg );
    background-color: #E8E8E8;
    mix-blend-mode: lighten;
    opacity: 0.6;
    z-index: 1;
  }
  
  padding: 110px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 1;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0;
  }

  &__body {
    margin-right: 80px;
  }

  &__btn {
    margin-top: 57px;
    min-width: 272px;
  }
}
